<?js var data = obj || {}; ?>
<?js if (data.type && data.type.names) {?>
<div class="param-type">
    <?js= this.partial('type.tmpl', data.type.names) ?>
</div>
<?js } ?>
<?js if (data.description) { ?>
<div class="param-desc">
    <?js= data.description ?>
</div>
<?js } ?>